{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>HOME</title>
</head>
<body>
{% if user.is_authenticated  %}
<div class="float-right mr-5" style="font-family: 'Grandstander', cursive;">
    Welcome {{user.username}}
</div>
<br>
<a href="{% url 'createtodo' %}" class="btn btn-success  mx-5 "">Create Todo</a>
<br>
<h1>
    your tasks are: {{ r }}
    <br>
</h1>
{% for i in list %}
{% if i.Important %}
<div class="alert alert-danger">
   <h2>{{i.Task}}</h2>
    <h4>Description:</h4>{{i.Task_Description}}
</div>
{% else %}
<div class="alert alert-warning">
    <h2>{{i.Task}}</h2>

    <h4>Description:</h4><p>{{i.Task_Description}}</p>

</div>
{% endif %}
    <br>
{% endfor %}

    <form method="POST" action="{% url 'logoutuser' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">logout</button>
    </form>
{% else %}
<div class="container">
<a href={% url 'signupuser' %} class="btn btn-primary">signup</a>
<a href={% url 'login' %} class="btn btn-primary">login</a>
</div>
{% endif %}
</body>
</html>